* {
    padding: 0px;
    margin: 0px;
    border: 1px solid rgb(239, 189, 189);
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(132, 128, 123);
}

#game {
    /* height: 400px;
    width: 900px; */
    height: 300px;
    width: 100vw;
    border: 1px solid black;
    /* border-radius: 5px; */
}

#player {
    height: 50px;
    width: 40px;
    /* background-color: red; */
    position: relative;
    top: 220px;
    left: 50px;
}

#block {
    height: 40px;
    width: 70px;
    /* background-color: rgb(8, 0, 255); */
    position: relative;
    top: 148px;
    left: 200px;
    /* left: 400px; */
    animation: block 1.9s  infinite linear;
}

.jump-class {
    animation: jump 2s infinite;
}

@keyframes jump {
    0% {
        top:200px;
    }

    /* 30% {
        top: 270px;
    } */

    50% { 
        top: 100px;
    }

    70% {
        top: 100px;
    }
    /* 80% {
        top: 270px;
    }
    90% {
        top: 300px;
    } */

    100% {
        top: 200px;
    }
}

@keyframes block {
    0% {
        left:400px;
    }

    100% {
        left: -120px;
    }
}